# SPDX-FileCopyrightText: 2021 Anders Rune Jensen
#
# SPDX-License-Identifier: Unlicense

.vscode
node_modules
pnpm-lock.yaml
package-lock.json
coverage
*~

# For misc scripts and experiments:
/gitignored
